/* Define the breakpoints */
$Desktop: 1200px;
$Tablet: 768px;
/* Define color variables and related color classes for consistent usage across the application */
// Color Palette

$background-color: #EAE5DF;
$button-font-color: #928676;
$button-hover: #DBD3CA;
$component-background: #DAD1C7;
$light-accent: #F5F1EC;
$main-font-color: #453005;

